<div class="container postCard fontDesign" style="background-color: #242424!important">
    <div class="row">
        <div class="col-sm-1" style="background-color: #262626!important; border-radius: 10px 0px 0px 10px">
            <div class="voteButton">
                <a><span class="material-icons secondaryBtnColor">arrow_upward</span></a>
                <div>@Votes</div>
                <a><span class="material-icons secondaryBtnColor" style="transform: rotate(180deg)">arrow_upward</span></a>
            </div>
        </div>
        <div class="col-sm-11">
            <div class="row d-flex flex-row postInfo">
                <div class="p-2">r/@post.Subreddit</div>
                <div class="p-2">by u/@post.Author</div>
            </div>
            <div class="row d-flex flex-row ">
                <h3 class="title">@post.Title</h3>
            </div>
            <div class="row">
                <img class="img-fluid" src="@post.Content" />
            </div>
            <div class="row d-flex flex-row secondaryBtnColor postButtons" style="background-color: #262626!important; border-radius: 0px 0px 10px 0px;">
                <a><span class="material-icons">forum</span>Comments</a>
                <a><span class="material-icons">share</span>Share</a>
                <a><span class="material-icons">archive</span>Save</a>
            </div>
        </div>
    </div>
</div>

@*<div class="card mb-3 text-light border-secondary fontDesign" style="background-color: #2b2b2b; max-height: 500px">
        @switch (PostType)
        {
            case Domain.Entities.PostType.Image:
                <div class="card-body">
                    <h3 class="card-title">@Title</h3>
                </div>
                <img class="card-img-bottom mediaMargin" style="overflow-y: hidden" src="@Content" />
                break;
            case Domain.Entities.PostType.TextOnly:
                <div class="card-body">
                    <h3 class="card-title">@Title</h3>
                    <div class="overflow-hidden">
                        <p class="card-text" style="max-height: 150px;">@Content</p>
                    </div>
                </div>
                break;
            case Domain.Entities.PostType.Video:
                <div class="card-body">
                    <h3 class="card-title">Video</h3>
                </div>
                break;
        }
    </div>*@